.DS_Store
.vscode/
.idea/
*.iml
.gradle/
.kotlin/
admin/
build/
local.properties
composeApp/bin/
composeApp/src/commonMain/composeResources/files/strings/

# Xcode / iOS / macOS
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
DerivedData/
.analytics
iosApp/iosApp/GoogleService-Info-Debug.plist
iosApp/iosApp/GoogleService-Info-Release.plist
iosApp/iosApp/LocalSettings.xcconfig

# WASM
kotlin-js-store/
