<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>Juggling Lab</string>
	<key>CFBundleIconFile</key>
	<string>Juggling Lab.icns</string>
	<key>CFBundleIdentifier</key>
	<string>JugglingLab</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>jlab</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.8.3</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2002-2021 Jack Boyce and the Juggling Lab contributors</string>
	<key>CFBundleName</key>
	<string>Juggling Lab</string>

	<key>CFBundleVersion</key>
	<string>1.5</string>
	<key>CFBundleShortVersionString</key>
	<string>1.5</string>

	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleAllowMixedLocalizations</key>
	<true/>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>LSApplicationCategoryType</key>
	<string>Unknown</string>
	<key>NSHighResolutionCapable</key>
	<string>true</string>
</dict>
</plist>
