<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSMinimumSystemVersion</key>
	<string>10.8.3</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleAllowMixedLocalizations</key>
	<true/>
	<key>CFBundleExecutable</key>
	<string>Juggling Lab</string>
	<key>CFBundleIconFile</key>
	<string>Juggling Lab.icns</string>
	<key>CFBundleIdentifier</key>
	<string>JugglingLab</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Juggling Lab</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.5</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>LSApplicationCategoryType</key>
	<string>Unknown</string>
	<key>NSHighResolutionCapable</key>
	<string>true</string>
</dict>
</plist>
